body{
    background-color: white;

}
input{
    height: 200px;
    width: 200px;
    border-radius: 100%;
  
}

header{
    text-align: center;
}

.container{
    align-items: center;
}

#cryptologo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: auto;
    border-radius: 100%;
    }

    #cryptologo:hover{
        background-color: lawngreen;
    }
